<!DOCTYPE html>
<html>
<head>
  <%- include('partial/header3') %>
</head>

<body>
  <%- include('partial/header4') %>

<!-- slide 1 -->
<div class="slides">
<div class="slide">
            <div class="content third-content">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="first-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-content">
                                                <h2>ET_SERVICE</h2>
                                                <p>Using the ET, </br>
                                                  <em>Easy, Quick, and Convenient</em>inspection is possible.</p>
                                                <div class="main-btn"><a href="./eyetracking/start">START_TEST</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-image">
                                                <img src="images/track.JPG" alt="first service">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-image">
                                                <img src="images/result2.png" alt="second service">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-content">
                                                <h2>VIEW_RESULTS</h2>
                                                <p>You can check the exact results</br>
                                                <em>anytime, anywhere.</em></p>
                                                <div class="main-btn"><a href="result">Result</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
   <!-- end work -->
    <!--  footer -->
    <%-  include('partial/footer2'); %>
    <!-- end footer -->
</body>

</html>

