<footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="hedingh3 text_align_left">
                                    <a class="logo_footer">iDynamics</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="hedingh3 text_align_left">
                                    <h3>Blog</h3>
                                    <p>Which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anythin</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="hedingh3 text_align_left">
                                    <h3>Work Link</h3>
                                    <ul class="menu_footer">
                                        <li> <a href="index.html">Home</a></li>

                                        <li> <a href="wedo.html"> what we do </a></li>
                                        <li> <a href="blog.html"> Blog</a></li>
                                        <li> <a href="portfolio.html"> Portfolio</a></li>
                                        <li> <a href="contact.html"> Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


