<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>iDynamics</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
 <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

        <style>
            html { margin: 0; padding: 0; font-family: 'Roboto', sans-serif; }
            body { text-align: center; margin: 0; padding: 0; }
            .main { width: 80%; margin: 0 auto; margin-top: 50px; }
            a { color: blue; text-decoration: underline; }
            //nav { margin: 0 auto; padding: 15px 25px; background: steelblue; }
            //.links { list-style-type: none; margin: 0; padding: 0; }
            //.links li { display: inline-block; background: lightgrey; border: 1px solid lightgrey; border-radius: 5px; }
            //.links li a { display: block; padding: 8px 15px; background: lightgrey}
            .message { margin: 0 auto; margin-top: 25px; margin-bottom: 35px; padding: 20px 10px; background: dodgerblue; text-align: center; color: lightgrey; font-size: 20px; max-width: 400px; border: 2px solid grey; border-radius: 8px; }
            form input { display: inline-block; border-radius: 8px; border: none; outline: none; padding: 8px; }
            form input:focus { box-shadow: 0 0 5px steelblue; }
            form label { display: inline-block; }
            .mainForm { margin: 0 auto; max-width: 400px; background-color: lightgrey; padding: 15px 10px; border-radius: 10px; }
            .submitButton { color: white; background: steelblue; border: none; border-radius: 6px; padding: 8px 10px; }
            .submitButton:hover { background-color: #138496; cursor: pointer; }
            .submitButton:focus { outline: none; border: none; }
            input { display: block; padding: 4px 2px; margin: 0 auto; margin-bottom: 8px; }
            .profile { max-width: 700px; margin: 0 auto; }
            .userInfo { margin: 75px 0px; text-align: left; }
            .userTitle { font-size: 1.3rem; }
            .userName { font-size: 20px; }
            .collapsible { max-width: 700px; background-color: #777; color: white; cursor: pointer; padding: 18px; width: 100%; border: none; text-align: left; outline: none; font-size: 22px; }
            .collapsible:hover, .active { background-color: #555; }
            .collapsible h4 { margin: 0; margin-bottom: 0px; }
            .collContent { max-width: 700px; margin: 0 auto; padding: 20px 20px; display: none; overflow: hidden; background-color: lightgrey; }
            .collContent form { margin: 10px 0px; }
        </style>
</head>


